Repository Cambricon/mlu-ops, pull requests merged in 2022-11, with the labels that each got.

#279 [Fix](bangc-ops): update code style check for mlu_op.h
  CPPLINT.cfg
  bangc-ops/mlu_op.h
  tools/check_log_error.py
  tools/pre-commit
Labels: BANGC

#283 [Fix](bangc-ops): Fix cmakelists for kylin10 aarch64 build.
  bangc-ops/CMakeLists.txt
  bangc-ops/test/mlu_op_gtest/CMakeLists.txt
Labels: BANGC

#287 [Fix](bangc-ops): Fix cmakelists for ci.
  bangc-ops/CMakeLists.txt
  bangc-ops/test/mlu_op_gtest/CMakeLists.txt
Labels: bug fix, BANGC

#288 [Fix](bangc-ops): fix cmakelists for kylin10 build.
  bangc-ops/CMakeLists.txt
  bangc-ops/build.sh
  bangc-ops/test/mlu_op_gtest/CMakeLists.txt
Labels: bug fix

#285 [Feature](bangc): sup mtp592
  bangc-ops/CMakeLists.txt
  bangc-ops/build.sh
  bangc-ops/core/context.cpp
  bangc-ops/core/context.h
  bangpy-ops/include/runtime_tensor.h
  samples/bangc-ops/abs_sample/CMakeLists.txt
  samples/bangc-ops/fault_sample/CMakeLists.txt
  samples/bangc-ops/poly_nms_sample/CMakeLists.txt
Labels: BANGC

#289 [feature](bangc-ops): Improve the single operator compilation function
  bangc-ops/README.md
  bangc-ops/kernel_depends.toml
Labels: BANGC

#295 [Fix](bangc-ops): remove coverage test in ci and update coverage.sh.
  .github/workflows/coverage_test.yaml
  tools/coverage.sh
Labels: BANGC

#293 [Fix](bangc-ops): revise pre-commit and format tools and mlu_op.h.
  CPPLINT.cfg
  bangc-ops/mlu_op.h
  tools/format2google
  tools/pre-commit
Labels: BANGC

#294 [Feature](bangc-ops): add fill ops
  bangc-ops/kernel_depends.toml
  bangc-ops/kernels/fill/aarch64/fill_union1.mlu.o
  bangc-ops/kernels/fill/aarch64/fill_with_stride_union1.mlu.o
  bangc-ops/kernels/fill/fill.cpp
  bangc-ops/kernels/fill/fill_mlu.h
  bangc-ops/kernels/fill/fill_mlu.mlu
  bangc-ops/kernels/fill/x86_64/fill_union1.mlu.o
  bangc-ops/kernels/fill/x86_64/fill_with_stride_union1.mlu.o
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/include/parser.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/mlu_op_test_proto/mlu_op_test.proto
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/parser.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/fill/fill.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/fill/fill.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/fill/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/fill/test_case/case_1.prototxt
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC

#302 [Feature](bangc-ops): rename copy/expand/tensor_stride .mlu file
  bangc-ops/kernels/copy/copy_mlu.mlu
  bangc-ops/kernels/expand/expand_mlu.mlu
  bangc-ops/kernels/tensor_stride_process/tensor_stride_process_mlu.mlu
Labels: BANGC

#303 [Feature](bangc-ops): rename generate_proposals_v2 kernel code file
  bangc-ops/kernels/generate_proposals_v2/generate_proposals_v2_union1.mlu
Labels: BANGC

#306 [Fix](bangc-ops): fix bangc-ops cmakelist add link dl lib
  bangc-ops/CMakeLists.txt
Labels: BANGC

#308 add MLU590 and handle_param in proto
  bangc-ops/test/mlu_op_gtest/pb_gtest/mlu_op_test_proto/mlu_op_test.proto
Labels: BANGC
