Repository Cambricon/mlu-ops, pull requests merged in 2022-08, with the labels that each got.

#107 [Fix](bangc-ops):update cnrt api and cntoolkit version.
  .github/workflows/ci.yaml
  .github/workflows/coverage_test.yaml
  bangc-ops/kernels/div/div_block.mlu
  bangc-ops/kernels/log/log_block.mlu
  bangc-ops/kernels/psroipool_forward/psroipool_forward_block.mlu
  bangc-ops/kernels/roi_crop/roi_crop_block.mlu
  bangc-ops/kernels/sqrt/sqrt_block.mlu
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/test_env.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/include/executor.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/executor.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/gtest/mlu_op_gtest.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/gtest/test_env.cpp
  build.sh
  docker/ubuntu16.04-x86_64/Dockerfile
  docs/bangc-docs/design_docs/roi_crop/roi_crop_design_docs.md
  test.sh
Labels: BANGC

#118 [feature](bangc-ops):fix codes
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/psroipool_forward/psroipool_forward.cpp
Labels: bug, BANGC

#100 [Fix](bangc-ops):Refine core
  bangc-ops/CMakeLists.txt
  bangc-ops/core/cnlog.cpp
  bangc-ops/core/cnlog.h
  bangc-ops/core/context.cpp
  bangc-ops/core/context.h
  bangc-ops/core/logging.cpp
  bangc-ops/core/logging.h
  bangc-ops/core/macros.h
  bangc-ops/core/mlu_op_core.h
  bangc-ops/core/platform/env_time.h
  bangc-ops/core/runtime/device.h
  bangc-ops/core/tensor.cpp
  bangc-ops/core/tensor.h
  bangc-ops/core/tool.h
  bangc-ops/core/util.cpp
Labels: BANGC

#120 feat(bangc-ops): support user defined NEUWARE_HOME.
  env.sh
Labels: BANGC

#124 [Docs](bangc-ops) modify version-msg
  README.md
  bangc-ops/core/mlu_op_core.h
Labels: BANGC

#127 [Feature](bangc-ops):add environment check for centos when build bangc-ops.
  bangc-ops/build.sh
Labels: BANGC

#166 [Fix](bangc-ops): merge mlu_op.h and core/mlu_op_core.h for pytorch adapt
  .github/workflows/ci.yaml
  bangc-ops/core/context.h
  bangc-ops/core/gen_case.h
  bangc-ops/core/logging.h
  bangc-ops/core/mlu_op_core.h
  bangc-ops/core/runtime/device.h
  bangc-ops/core/tensor.h
  bangc-ops/core/tool.h
  bangc-ops/core/type.h
  bangc-ops/core/util.cpp
  bangc-ops/kernels/binary_op/binary_op_host.cpp
  bangc-ops/kernels/binary_op/binary_op_host.h
  bangc-ops/kernels/poly_nms/poly_nms.h
  bangc-ops/kernels/unary_op/unary_op_host.cpp
  bangc-ops/kernels/unary_op/unary_op_host.h
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/api_gtest/include/api_test_tools.h
  build.sh
  test.sh
Labels: BANGC

#163 [Docs]: Revise some description in pr.md.
  docs/pr.md
Labels: documentation
