Repository Cambricon/mlu-ops, pull requests merged in 2022-10, with the labels that each got.

#208 [Feature](mlu-ops): add ci check for release branches.
  .github/workflows/ci.yaml
Labels: BANGC

#241 [Fix](bangc-ops): fix executor code bug
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/executor.cpp
Labels: BANGC

#236 [DOCS](bangc-ops):add user guide.
  docs/bangc-docs/user_guide/10_debugging/index.rst
  docs/bangc-docs/user_guide/11_env_var/index.rst
  docs/bangc-docs/user_guide/12_faq/index.rst
  docs/bangc-docs/user_guide/1_copyright/index.rst
  docs/bangc-docs/user_guide/2_update_history/index.rst
  docs/bangc-docs/user_guide/3_overview/index.rst
  docs/bangc-docs/user_guide/4_concept/handle.rst
  docs/bangc-docs/user_guide/4_concept/index.rst
  docs/bangc-docs/user_guide/4_concept/tensor.rst
  docs/bangc-docs/user_guide/4_concept/workspace.rst
  docs/bangc-docs/user_guide/5_package/index.rst
  docs/bangc-docs/user_guide/6_quickstart/index.rst
  docs/bangc-docs/user_guide/7_programming_model/index.rst
  docs/bangc-docs/user_guide/7_programming_model/programming_guide.rst
  docs/bangc-docs/user_guide/7_programming_model/programming_model.rst
  docs/bangc-docs/user_guide/8_functions/apilog.rst
  docs/bangc-docs/user_guide/8_functions/index.rst
  docs/bangc-docs/user_guide/8_functions/thread_safety.rst
  docs/bangc-docs/user_guide/9_operators/index.rst
  docs/bangc-docs/user_guide/chapterbkpaper.pdf
  docs/bangc-docs/user_guide/images/apilog.png
  docs/bangc-docs/user_guide/index.rst
  docs/bangc-docs/user_guide/logo.png
Labels: documentation, BANGC

#242 [Feature](bangc-ops): add three_interpolate_forward op.
  bangc-ops/kernels/three_interpolate_forward/three_interpolate.cpp
  bangc-ops/kernels/three_interpolate_forward/three_interpolate_union1.mlu
  bangc-ops/kernels/utils/common.h
  bangc-ops/mlu_op.h
  bangc-ops/mlu_op_kernel.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/three_interpolate_forward/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/three_interpolate_forward/test_case/case_1.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/three_interpolate_forward/three_interpolate_forward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/three_interpolate_forward/three_interpolate_forward.h
  docs/bangc-docs/design_docs/three_interpolate_forward/nram_divide.png
  docs/bangc-docs/design_docs/three_interpolate_forward/three_interpolate_forward.md
  docs/bangc-docs/design_docs/three_interpolate_forward/three_interpolate_forward.png
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC, new op

#184 (bangc-ops):add new operator ball_query
  bangc-ops/kernels/ball_query/ball_query.h
  bangc-ops/kernels/ball_query/ball_query.mlu
  bangc-ops/kernels/ball_query/ball_query_union1.mlu
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/mlu_op_test_proto/mlu_op_test.proto
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/ball_query/ball_query.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/ball_query/ball_query.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/ball_query/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/ball_query/test_case/case_1.prototxt
  docs/bangc-docs/design_docs/ball_query/ball_query.md
  docs/bangc-docs/design_docs/ball_query/ball_query.png
  docs/bangc-docs/design_docs/ball_query/ballquery_split.jpg
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC, new op

#243 [Feature](bangc-ops): modify gtest to support complex data type
  bangc-ops/core/tensor.h
  bangc-ops/core/type.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/include/pb_test_tools.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/executor.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/parser.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/pb_test_tools.cpp
Labels: BANGC

#240 [Feature](bangc-ops): add expand op
  bangc-ops/CMakeLists.txt
  bangc-ops/kernels/copy/copy.cpp
  bangc-ops/kernels/copy/copy.mlu
  bangc-ops/kernels/copy/copy_mlu.h
  bangc-ops/kernels/copy/copy_union1.mlu.o
  bangc-ops/kernels/copy/copy_with_stride_union1.mlu.o
  bangc-ops/kernels/expand/expand.cpp
  bangc-ops/kernels/expand/expand.mlu
  bangc-ops/kernels/expand/expand_one_dim_union1.mlu.o
  bangc-ops/kernels/expand/expand_union1.mlu.o
  bangc-ops/kernels/tensor_stride_process/tensor_stride_in_block.mlu.o
  bangc-ops/kernels/tensor_stride_process/tensor_stride_out_block.mlu.o
  bangc-ops/kernels/tensor_stride_process/tensor_stride_process.cpp
  bangc-ops/kernels/tensor_stride_process/tensor_stride_process.h
  bangc-ops/kernels/tensor_stride_process/tensor_stride_process.mlu
  bangc-ops/kernels/tensor_stride_process/tensor_stride_process_mlu.h
  bangc-ops/mlu_op.h
  bangc-ops/mlu_op_kernel.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/copy.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/copy.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_1_with_stride.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_1_with_stride_ignore_shape1_stride.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_1_with_stride_output_soft_transpose.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_1_with_stride_output_sub_tensor.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/copy/test_case/case_2_with_stride_ignore_shape1_stride.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/expand/expand.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/expand/expand.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/expand/test_case/case_0.prototxt
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC, new op

#253 [TEST](ball_query): add api check cases for ball_query
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/ball_query/ball_query.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/ball_query/ball_query_general.cpp
Labels: BANGC

#255 [Fix](bangc-ops):Perfect zero-element inspection for ball_query
  bangc-ops/kernels/ball_query/ball_query.mlu
  bangc-ops/mlu_op.h
Labels: documentation, BANGC

#264 [Fix](bangc-ops): update interface note
  bangc-ops/mlu_op.h
Labels: BANGC

#268 [Docs](bangc-ops): Removed the compiling scripts
  docs/bangc-docs/api_guide/Makefile
  docs/bangc-docs/api_guide/_static/custom.css
  docs/bangc-docs/api_guide/conf.json
  docs/bangc-docs/api_guide/conf.py
  docs/bangc-docs/api_guide/doxyfile
  docs/bangc-docs/api_guide/h2rst/.gitignore
  docs/bangc-docs/api_guide/h2rst/HeaderParser/CppHeaderParser.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/__init__.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/doxygen.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/lexer.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/tojson.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/version.py
  docs/bangc-docs/api_guide/h2rst/README.md
  docs/bangc-docs/api_guide/h2rst/ReleaseNotes.md
  docs/bangc-docs/api_guide/h2rst/config.py
  docs/bangc-docs/api_guide/h2rst/generate.py
  docs/bangc-docs/api_guide/h2rst/main.py
  docs/bangc-docs/api_guide/h2rst/requirements.txt
  docs/bangc-docs/api_guide/h2rst/template.py
  docs/bangc-docs/api_guide/make.bat
  docs/bangc-docs/api_guide/makelatexpdf.sh
  docs/bangc-docs/api_guide/parsejson.py
  docs/bangc-docs/api_guide/requirements.txt
  docs/bangc-docs/build.sh
  docs/bangc-docs/release_notes/Makefile
  docs/bangc-docs/release_notes/_static/custom.css
  docs/bangc-docs/release_notes/conf.json
  docs/bangc-docs/release_notes/conf.py
  docs/bangc-docs/release_notes/make.bat
  docs/bangc-docs/release_notes/makelatexpdf.sh
  docs/bangc-docs/release_notes/parsejson.py
  docs/bangc-docs/user_guide/Makefile
  docs/bangc-docs/user_guide/_static/custom.css
  docs/bangc-docs/user_guide/conf.json
  docs/bangc-docs/user_guide/conf.py
  docs/bangc-docs/user_guide/make.bat
  docs/bangc-docs/user_guide/makelatexpdf.sh
  docs/bangc-docs/user_guide/parsejson.py
Labels: documentation

#274 [docs](bangc-ops):delete cnnl string in ball_query
  docs/bangc-docs/design_docs/ball_query/ball_query.md
Labels: documentation

#275 [Docs](bangc-ops): align to stander
  .github/workflows/daily.yaml
  README.md
  bangc-ops/CMakeLists.txt
  bangc-ops/README.md
  bangc-ops/mlu_op.h
  bangpy-ops/README.md
  docs/bangc-docs/BANGC-OPS-Operator-Design-Doc-Template.md
  docs/bangc-docs/BANGC-OPS-Operator-Development-Process.md
  docs/bangc-docs/design_docs/roi_crop/roi_crop_design_docs.md
  docs/bangc-docs/user_guide/3_overview/index.rst
  docs/bangpy-docs/BANGPy-OPS-Operator-Design-Doc-Template.md
  docs/bangpy-docs/BANGPy-OPS-Operator-Development-Process.md
  installer/independent/debian/control
  installer/ubuntu16.04/debian/control
  samples/bangc-ops/abs_sample/CMakeLists.txt
  samples/bangc-ops/fault_sample/CMakeLists.txt
  samples/bangc-ops/fault_sample/fault_kernel.mlu
  samples/bangc-ops/poly_nms_sample/CMakeLists.txt
Labels: documentation

#276 [Docs](bangc-ops):Update the README file
  bangc-ops/README.md
Labels: documentation

#278 [Feature](bangc-ops): support debug mode and delete --gtest-filter cmd
  bangc-ops/CMakeLists.txt
  bangc-ops/build.sh
  bangc-ops/test/mlu_op_gtest/CMakeLists.txt
Labels: BANGC

#53 [Feature](bangpy-ops): Add new operator Logaddexp2
  bangpy-ops/ops/logaddexp2/logaddexp2.py
  bangpy-ops/ops/logaddexp2/test_logaddexp2.py
  docs/bangpy-docs/design_docs/logaddexp2/logaddexp2算子设计文档.md
Labels: BANGPy

#55 [Feature](bangpy-ops): Add new operator KlDivLoss
  bangpy-ops/ops/kldivloss/kldivloss.py
  bangpy-ops/ops/kldivloss/test_kldivloss.py
  docs/bangpy-docs/design_docs/kldivloss/kldivloss算子设计文档.md
Labels: BANGPy

#56 [Feature](bangpy-ops): Add new operator Cross
  bangpy-ops/ops/cross/cross.py
  bangpy-ops/ops/cross/test_cross.py
  docs/bangpy-docs/design_docs/cross/Cross算子设计文档.md
Labels: BANGPy

#69 [Feature](bangpy-ops): Add new operator Hard_sigmoid
  bangpy-ops/ops/hard_sigmoid/hard_sigmoid.py
  bangpy-ops/ops/hard_sigmoid/test_hard_sigmoid.py
  docs/bangpy-docs/design_docs/hard_sigmoid/hard_sigmoid算子设计文档.md
Labels: BANGPy

#277 [FIX](bangpy-ops)update some test ops config
  bangpy-ops/test/mlu_op_test_pb2.py
  bangpy-ops/utils/build_and_test_all_operators.py
  bangpy-ops/utils/build_operators.sh
Labels: BANGPy

#280 [Fix](bangc-ops): Modify the readme error description
  bangc-ops/README.md
Labels: documentation

#71 [Feature](bangpy-ops): Add new operator cosine_embedding_loss
  bangpy-ops/ops/cosine_embedding_loss/cosine_embedding_loss.py
  bangpy-ops/ops/cosine_embedding_loss/test_cosine_embedding_loss.py
  docs/bangpy-docs/design_docs/cosine_embedding_loss/cosine_embedding_loss算子设计文档.md
Labels: BANGPy
