Repository Cambricon/mlu-ops, pull requests merged in 2022-09, with the labels that each got.

#167 [Fix](bangc-ops): merge mlu_op.h and core/mlu_op_core.h.
  bangc-ops/core/context.h
  bangc-ops/core/gen_case.h
  bangc-ops/core/logging.h
  bangc-ops/core/mlu_op_core.h
  bangc-ops/core/runtime/device.h
  bangc-ops/core/tensor.h
  bangc-ops/core/tool.h
  bangc-ops/core/type.h
  bangc-ops/core/util.cpp
  bangc-ops/kernels/binary_op/binary_op_host.cpp
  bangc-ops/kernels/binary_op/binary_op_host.h
  bangc-ops/kernels/poly_nms/poly_nms.h
  bangc-ops/kernels/unary_op/unary_op_host.cpp
  bangc-ops/kernels/unary_op/unary_op_host.h
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/api_gtest/include/api_test_tools.h
Labels: BANGC

#185 [Fix](bangc-ops):fix large tensor bug.
  bangc-ops/core/tensor.cpp
  bangc-ops/core/tensor.h
  bangc-ops/mlu_op.h
Labels: BANGC

#186 [Fix](bangc-ops):fix large tensor bug.
  bangc-ops/core/tensor.cpp
  bangc-ops/core/tensor.h
  bangc-ops/mlu_op.h
Labels: BANGC

#188 [Feature](bangc-ops): Add new operator prior_box.
  bangc-ops/kernels/prior_box/prior_box.cpp
  bangc-ops/kernels/prior_box/prior_box_block.mlu
  bangc-ops/mlu_op.h
  bangc-ops/mlu_op_kernel.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/mlu_op_test_proto/mlu_op_test.proto
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/prior_box/prior_box.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/prior_box/prior_box.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/prior_box/test_case/test_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/prior_box/test_case/test_1.prototxt
  docs/bangc-docs/design_docs/prior_box/Formula1.png
  docs/bangc-docs/design_docs/prior_box/Formula2.png
  docs/bangc-docs/design_docs/prior_box/Formula4.png
  docs/bangc-docs/design_docs/prior_box/Formula5.png
  docs/bangc-docs/design_docs/prior_box/init_pos.png
  docs/bangc-docs/design_docs/prior_box/nram_divide.png
  docs/bangc-docs/design_docs/prior_box/prior_box 算子开发设计方案.md
  docs/bangc-docs/design_docs/prior_box/prior_box.png
Labels: BANGC, new op

#195 [Docs](bangc-ops): Added the API Guide structure
  bangc-ops/mlu_op.h
  docs/bangc-docs/api_guide/.gitignore
  docs/bangc-docs/api_guide/Makefile
  docs/bangc-docs/api_guide/_static/custom.css
  docs/bangc-docs/api_guide/chapterbkpaper.pdf
  docs/bangc-docs/api_guide/conf.json
  docs/bangc-docs/api_guide/conf.py
  docs/bangc-docs/api_guide/copyright.rst
  docs/bangc-docs/api_guide/doxyfile
  docs/bangc-docs/api_guide/h2rst/.gitignore
  docs/bangc-docs/api_guide/h2rst/HeaderParser/CppHeaderParser.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/__init__.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/doxygen.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/lexer.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/tojson.py
  docs/bangc-docs/api_guide/h2rst/HeaderParser/version.py
  docs/bangc-docs/api_guide/h2rst/README.md
  docs/bangc-docs/api_guide/h2rst/ReleaseNotes.md
  docs/bangc-docs/api_guide/h2rst/config.py
  docs/bangc-docs/api_guide/h2rst/generate.py
  docs/bangc-docs/api_guide/h2rst/main.py
  docs/bangc-docs/api_guide/h2rst/requirements.txt
  docs/bangc-docs/api_guide/h2rst/template.py
  docs/bangc-docs/api_guide/index.rst
  docs/bangc-docs/api_guide/logo.png
  docs/bangc-docs/api_guide/make.bat
  docs/bangc-docs/api_guide/makelatexpdf.sh
  docs/bangc-docs/api_guide/parsejson.py
  docs/bangc-docs/api_guide/requirements.txt
  docs/bangc-docs/api_guide/update.rst
Labels: documentation, BANGC

#158 [Feature](bangc-ops): add new operator yolo_box
  bangc-ops/kernels/utils/common.h
  bangc-ops/kernels/yolo_box/yolo_box.cpp
  bangc-ops/kernels/yolo_box/yolo_box_block.mlu
  bangc-ops/mlu_op.h
  bangc-ops/mlu_op_kernel.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/mlu_op_test_proto/mlu_op_test.proto
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/yolo_box/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/yolo_box/yolo_box.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/yolo_box/yolo_box.h
  docs/bangc-docs/design_docs/yolo_box/res/bbox-2.png
  docs/bangc-docs/design_docs/yolo_box/res/bbox.png
  docs/bangc-docs/design_docs/yolo_box/res/c-data1.png
  docs/bangc-docs/design_docs/yolo_box/res/c-data2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula1.png
  docs/bangc-docs/design_docs/yolo_box/res/formula2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula3.png
  docs/bangc-docs/design_docs/yolo_box/res/formula4.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5-1.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5-2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5.png
  docs/bangc-docs/design_docs/yolo_box/res/formula6.png
  docs/bangc-docs/design_docs/yolo_box/res/nram_boxes.png
  docs/bangc-docs/design_docs/yolo_box/res/nram_pingpong.png
  docs/bangc-docs/design_docs/yolo_box/res/nram_score.png
  docs/bangc-docs/design_docs/yolo_box/res/pingpong.png
  docs/bangc-docs/design_docs/yolo_box/res/score_pred.png
  docs/bangc-docs/design_docs/yolo_box/res/yolobox.png
  docs/bangc-docs/design_docs/yolo_box/yolo_box.md
Labels: BANGC, new op

#201 [Fix](bangc-ops): Fix output/var shape[3] defensive bug.
  bangc-ops/kernels/prior_box/prior_box.cpp
Labels: BANGC

#197 [Feature](bangc-ops): add release test ci configuration for bangc-ops.
  .github/workflows/bangcops_release_test.yaml
Labels: BANGC

#200 [Docs](bangc-ops): Improved the API Guide for the release
  bangc-ops/mlu_op.h
  docs/bangc-docs/api_guide/.gitignore
  docs/bangc-docs/api_guide/conf.py
  docs/bangc-docs/api_guide/h2rst/config.py
  docs/bangc-docs/api_guide/h2rst/generate.py
  docs/bangc-docs/api_guide/index.rst
  docs/bangc-docs/api_guide/update.rst
Labels: documentation, BANGC

#211 fix(bangpy-ops): fix the syntax of bangpy ops.
  bangpy-ops/ops/add/add.py
  bangpy-ops/ops/adjust_hue/adjust_hue.py
  bangpy-ops/ops/nonzero/nonzero.py
  bangpy-ops/ops/nonzero/nonzero_count.py
Labels: BANGPy

#217 [Fix](bangc-ops): fix packaging configure files.
  .gitignore
  bangc-ops/CMakeLists.txt
  bangc-ops/build.sh
  build.property
  installer/centos7.5/SPECS/mluops-independent.spec
  installer/centos7.5/SPECS/mluops.spec
  installer/independent/debian/install
  installer/ubuntu16.04/debian/install
Labels: BANGC

#168 [TEST](yolo_box): add api check cases
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/yolo_box/yolo_box.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/yolo_box/yolo_box_general.cpp
Labels: BANGC

#221 [Perf](bangc-ops) Optimized Yolo_box operator performance on 300 plat…
  bangc-ops/kernels/yolo_box/yolo_box_block.mlu
Labels: BANGC

#227 [Feature](bangc-ops): Fix doc some details.
  bangc-ops/mlu_op.h
Labels: documentation, BANGC

#228 [Fix](bangc-ops):fix the scores has same value.
  bangc-ops/kernels/generate_proposals_v2/generate_proposals_v2.cpp
  bangc-ops/kernels/generate_proposals_v2/generate_proposals_v2.mlu
  docs/bangc-docs/design_docs/generate_proposals_v2/generate_proposals_v2.md
Labels: BANGC

#178 [TEST](generate_proposals_v2): add api check cases
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/generate_proposals_v2/generate_proposals_v2.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/generate_proposals_v2/generate_proposals_v2_general.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/generate_proposals_v2/generate_proposals_v2_workspace.cpp
Labels: BANGC

#235 [Fix](bangc-ops): fix core/logging.h code error
  bangc-ops/core/logging.h
Labels: BANGC

#234 [fix](bangc-ops): fix getKthScores bug
  bangc-ops/kernels/generate_proposals_v2/generate_proposals_v2.cpp
  bangc-ops/kernels/generate_proposals_v2/generate_proposals_v2.mlu
  bangc-ops/kernels/poly_nms/enums.h
  bangc-ops/kernels/poly_nms/intersect_area.h
  bangc-ops/kernels/poly_nms/poly_nms.h
  bangc-ops/kernels/poly_nms/poly_nms.mlu
  bangc-ops/kernels/poly_nms/poly_nms_block_calc_area.mlu
  bangc-ops/kernels/poly_nms/poly_nms_block_gen_mask.mlu
  bangc-ops/kernels/poly_nms/poly_nms_block_gen_result.mlu
  bangc-ops/kernels/poly_nms/poly_nms_core_set.h
  bangc-ops/kernels/poly_nms/poly_nms_kernel_launch.mlu
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/poly_nms/pnms_impl.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/poly_nms/pnms_impl.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/poly_nms/poly_nms.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/poly_nms/poly_nms.h
  docs/bangc-docs/design_docs/generate_proposals_v2/generate_proposals_v2.md
Labels: BANGC
