Repository Cambricon/mlu-ops, pull requests merged in 2022-07, with the labels that each got.

#81 [Docs](bangc-ops):Add roi_crop op design docs
  docs/bangc-docs/design_docs/roi_crop/roi_crop_backward_func.png
  docs/bangc-docs/design_docs/roi_crop/roi_crop_design_docs.md
Labels: BANGC

#80 [Feature](bangc-ops):Add new op roi_crop_backward
  bangc-ops/kernels/fill_zero/fill_zero.mlu
  bangc-ops/kernels/roi_crop/roi_crop.cpp
  bangc-ops/kernels/roi_crop/roi_crop_block.mlu
  bangc-ops/mlu_op.h
  bangc-ops/mlu_op_kernel.h
  bangc-ops/test/mlu_op_gtest/mlu_op_test_proto/mlu_op_test.proto
  bangc-ops/test/mlu_op_gtest/src/zoo/roi_crop_backward/roi_crop_backward.cpp
  bangc-ops/test/mlu_op_gtest/src/zoo/roi_crop_backward/roi_crop_backward.h
  bangc-ops/test/mlu_op_gtest/src/zoo/roi_crop_backward/test_case/case_0.prototxt
Labels: BANGC, new op

#84 [CNNLCORE-7405]fix(roi_crop_forward):fix tensor annotation and grid d…
  bangc-ops/kernels/roi_crop/roi_crop.cpp
  bangc-ops/mlu_op.h
Labels: bug

#87 fix(bangc-ops):fix large tensor parsed failure issue
  bangc-ops/test/mlu_op_gtest/pb_gtest/include/parser.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/parser.cpp
Labels: BANGC
