Repository Cambricon/mlu-ops, pull requests merged in 2023-05, with the labels that each got.

#658 [Feature](bangc-ops): add large tensor check
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward.cpp
Labels: BANGC

#655 [Docs](bangc-ops): Revise terminology
  bangc-ops/mlu_op.h
  docs/bangc-docs/api_guide/copyright.rst
  docs/bangc-docs/api_guide/index.rst
  docs/bangc-docs/release_notes/bangc_ops.rst
  docs/bangc-docs/user_guide/10_debugging/index.rst
  docs/bangc-docs/user_guide/11_env_var/index.rst
  docs/bangc-docs/user_guide/12_faq/index.rst
  docs/bangc-docs/user_guide/3_overview/index.rst
  docs/bangc-docs/user_guide/4_concept/handle.rst
  docs/bangc-docs/user_guide/4_concept/index.rst
  docs/bangc-docs/user_guide/4_concept/tensor.rst
  docs/bangc-docs/user_guide/4_concept/workspace.rst
  docs/bangc-docs/user_guide/5_package/index.rst
  docs/bangc-docs/user_guide/6_quickstart/index.rst
  docs/bangc-docs/user_guide/7_programming_model/programming_guide.rst
  docs/bangc-docs/user_guide/7_programming_model/programming_model.rst
  docs/bangc-docs/user_guide/8_functions/apilog.rst
  docs/bangc-docs/user_guide/8_functions/index.rst
  docs/bangc-docs/user_guide/8_functions/thread_safety.rst
  docs/bangc-docs/user_guide/9_operators/index.rst
  docs/bangc-docs/user_guide/index.rst
Labels: documentation

#663 [Fix](bangc-ops): fix dynamic_point_to_voxel_forward bug
  bangc-ops/kernels/dynamic_point_to_voxel_forward/dynamic_point_to_voxel_forward.cpp
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/dynamic_point_to_voxel_forward/dynamic_point_to_voxel_forward.cpp
Labels: BANGC

#625 [Feature](bangc-ops): add new op diff_iou_rotated_sort_vertices_forward
  bangc-ops/kernels/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.cpp
  bangc-ops/kernels/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.h
  bangc-ops/kernels/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward_block.mlu
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/test_case/case_1.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/test_case/case_2.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/test_case/case_3.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/diff_iou_rotated_sort_vertices_forward/test_case/case_4.prototxt
  docs/bangc-docs/design_docs/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.md
  docs/bangc-docs/design_docs/diff_iou_rotated_sort_vertices_forward/res/nram_space.png
  docs/bangc-docs/design_docs/diff_iou_rotated_sort_vertices_forward/res/pingpong.png
  docs/bangc-docs/design_docs/diff_iou_rotated_sort_vertices_forward/res/sort_vertices.png
  docs/bangc-docs/design_docs/diff_iou_rotated_sort_vertices_forward/res/sort_vertices1.png
  docs/bangc-docs/user_guide/9_operators/index.rst
  docs/bangc-docs/user_guide/images/sort_vertices.png
Labels: BANGC, new op

#670 [WIP][Feature](bangc-ops): sup inf
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid.cpp
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid.h
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid_forward_union1.mlu
  bangc-ops/kernels/utils/common.h
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward.cpp
  docs/bangc-docs/design_docs/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward.md
  docs/bangc-docs/design_docs/focal_loss_sigmoid_forward/log_exp.png
Labels: documentation, BANGC

#689 [Feature](bangc-ops): Update test_list for v0.7.0
  bangc-ops/test/mlu_op_gtest/pb_gtest/gtest_config/test_list
Labels: BANGC

#693 [Fix](bangc-ops): update clang version to fix coverage test on r0.7.
  .gitignore
  bangc-ops/CMakeLists.txt
Labels: BANGC
