Repository Cambricon/mlu-ops, pull requests merged in 2023-10, with the labels that each got.

#850 [Feature](bangc-ops): add maximum input size check for box_iou_rotated.
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated.cpp
Labels: BANGC

#855 [Fix](mlu-ops):fix polynms doc's descriptor.
  bangc-ops/kernels/poly_nms/poly_nms.cpp
  bangc-ops/mlu_op.h
Labels: documentation, BANGC

#839 [Feature](bangc-ops): add transform binary oprator.
  bangc-ops/kernels/kernel_wrapper/wrapper.h
  bangc-ops/kernels/transform/transform.cpp
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/test_case/case_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/test_case/case_1.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/test_case/complex.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/test_case/half_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/test_case/int32_0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/transform.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/transform/transform.h
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC

#859 [Docs](bangc-ops): update release-note.
  README.md
  docs/bangc-docs/api_guide/update.rst
  docs/bangc-docs/release_notes/bangc_ops.rst
  docs/bangc-docs/user_guide/2_update_history/index.rst
  installer/centos7.5/SPECS/mluops-independent.spec
  installer/centos7.5/SPECS/mluops.spec
  installer/independent/debian/changelog
Labels: BANGC

#862 [Fix](bangc-ops): fix release note in v0.9.0.
  docs/bangc-docs/user_guide/2_update_history/index.rst
Labels: documentation

#861 [Fix](bangc-ops): fix release note in v0.9.0.
  docs/bangc-docs/user_guide/2_update_history/index.rst
Labels: documentation

#851 [Feature](bangc-ops):repair int-type pointer offset over 2G
  bangc-ops/core/logging.h
  bangc-ops/kernels/get_indice_pairs/get_indice_pairs_structs.h
  bangc-ops/kernels/indice_convolution_backward_data/indice_convolution_backward_data.cpp
  bangc-ops/kernels/indice_convolution_backward_data/indice_convolution_backward_data.h
  bangc-ops/kernels/indice_convolution_backward_filter/indice_convolution_backward_filter.cpp
Labels: BANGC

#868 [CNNLCORE-14700] fix(pad) resolve gtest problem of non value return i…
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/pad/pad.cpp
Labels: bug fix, BANGC

#869 [Docs](bangc-ops): update mluOpSetGenCaseMode declear in mlu_op.h
  bangc-ops/core/gen_case.cpp
  bangc-ops/mlu_op.h
Labels: documentation, BANGC

#853 [feature](bangc-ops): improve box_iou_rotated.
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated.cpp
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_aligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_nonaligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_utils.h
  docs/bangc-docs/design_docs/box_iou_rotated/box_iou_rotated.md
  docs/bangc-docs/design_docs/box_iou_rotated/res/cosine1.png
  docs/bangc-docs/design_docs/box_iou_rotated/res/sort_vertices1.png
Labels: BANGC
