Repository Cambricon/mlu-ops, pull requests merged in 2023-09, with the labels that each got.

#831 [Docs](bangc-ops): fix env var guide link error.
  docs/bangc-docs/user_guide/11_env_var/index.rst
Labels: documentation

#827 [Docs](bangc-ops): Fix docs for v0.8.1.
  .github/workflows/bangc_all_system_ci.yaml
  .github/workflows/bangc_ci.yaml
  .github/workflows/daily.yaml
  build.property
  installer/centos7.5/SPECS/mluops-independent.spec
  installer/centos7.5/SPECS/mluops.spec
  installer/independent/debian/changelog
Labels: BANGC

#816 [Fix](bangc-ops): clear build/mlu_op_gtest when build.
  bangc-ops/independent_build.sh
Labels: BANGC

#829 [Fix](mlu-ops):perf voxel_pooling_forward and fix bug.
  bangc-ops/kernels/utils/common.h
  bangc-ops/kernels/voxel_pooling_forward/voxel_pooling_forward_union1.mlu
  docs/bangc-docs/design_docs/voxel_pooling_forward/nram_divide.png
  docs/bangc-docs/design_docs/voxel_pooling_forward/voxel_pooling_forward.md
Labels: BANGC

#822 [Feature](bangc-ops): nms_rotated fix code of iou_threshold<0 cases
  bangc-ops/kernels/nms_rotated/nms_rotated_union1.mlu
  bangc-ops/mlu_op.h
Labels: BANGC

#830 [Docs](mlu-ops):Add mlu-ops BANGC-OPS-OpList.md.
  docs/bangc-docs/BANGC-OPS-OpList.md
Labels: documentation

#828 [Docs](bangc-ops): update README.md
  README.md
  docs/GTest-User-Guide-zh.md
  docs/MLU-OPS-LOGO.png
Labels: documentation, BANGC

#836 [Docs](bangc-ops): rm some words, such as ipu
  docs/bangc-docs/design_docs/box_iou_rotated/pseudo_code
  docs/bangc-docs/design_docs/deform_roi_pool_backward/deform_roi_pool_backward.md
  docs/bangc-docs/design_docs/deform_roi_pool_forward/deform_roi_pool_forward.md
  docs/bangc-docs/design_docs/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.md
  docs/bangc-docs/design_docs/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward.md
  docs/bangc-docs/design_docs/three_nn_forward/three_nn_forward.md
  docs/bangc-docs/design_docs/tin_shift/tin_shift.md
Labels: documentation

#837 [Docs](bangc-ops):modify the documentation comments of mlu_op.h
  bangc-ops/mlu_op.h
Labels: documentation

#820 [Docs](bangc-ops): Update performance acceptance standard.
  docs/MLU-OPS-Performance-Acceptance-Standard.md
Labels: BANGC

#823 [Docs](bangc-ops): Update accuracy standard.
  docs/Accuracy-Standard-Formula.png
  docs/MLU-OPS-Accuracy-Acceptance-Standard.md
Labels: BANGC

#838 [Fix](bangc-ops): roiaware add Param Check and use __cn_scalar_sin_*
  bangc-ops/kernels/roiaware_pool3d/roiaware_pool3d.cpp
  bangc-ops/kernels/roiaware_pool3d/roiaware_pool3d_union1.mlu
  bangc-ops/mlu_op.h
Labels: BANGC

#815 [Feature](mlu-ops):perf voxelization.
  bangc-ops/kernels/voxelization/voxelization_kernel.mlu
  docs/bangc-docs/design_docs/voxelization/gather.jpg
  docs/bangc-docs/design_docs/voxelization/gather_scatter.jpg
  docs/bangc-docs/design_docs/voxelization/mask.png
  docs/bangc-docs/design_docs/voxelization/voxelization.md
Labels: BANGC

#843 [Docs](mlu-ops):modify design docs.
  docs/bangc-docs/design_docs/voxelization/nram_divide.png
  docs/bangc-docs/design_docs/voxelization/voxelization.md
Labels: documentation

#845 Nolink check
  bangc-ops/kernels/border_align_backward/border_align_backward_union1.mlu
  bangc-ops/kernels/border_align_forward/border_align_forward_union1.mlu
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid_forward_union1.mlu
  bangc-ops/kernels/indice_convolution_backward_data/indice_convolution_backward_data.h
  bangc-ops/kernels/ms_deform_attn_forward/msda_forward_union1_default.mlu
Labels: BANGC

#840 [Feature](bangc-ops): upgrade to toolkit3.7.0
  .github/workflows/bangc_all_system_ci.yaml
  .github/workflows/bangc_ci.yaml
  .github/workflows/daily.yaml
  bangc-ops/mlu_op.h
  build.property
Labels: BANGC

#842 [Fix](bangc-ops): roiaware add annotation and modify docs
  bangc-ops/mlu_op.h
  docs/bangc-docs/design_docs/roiaware_pool3d_backward/roiaware_pool3d_backward.md
  docs/bangc-docs/design_docs/roiaware_pool3d_forward/roiaware_pool3d_forward.md
Labels: BANGC
