Repository Cambricon/mlu-ops, pull requests merged in 2023-06, with the labels that each got.

#666 [Feature](bangc-ops):add new op tin_shift forward and backward
  bangc-ops/kernel_depends.toml
  bangc-ops/kernels/tin_shift/tin_shift.cpp
  bangc-ops/kernels/tin_shift/tin_shift.h
  bangc-ops/kernels/tin_shift/tin_shift_union1.mlu
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_backward/test_case/case0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_backward/tin_shift_backward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_backward/tin_shift_backward.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_forward/test_case/case0.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_forward/tin_shift_forward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/tin_shift_forward/tin_shift_forward.h
  docs/bangc-docs/design_docs/tin_shift/demo1.png
  docs/bangc-docs/design_docs/tin_shift/demo2.png
  docs/bangc-docs/design_docs/tin_shift/tin_shift.md
  docs/bangc-docs/user_guide/9_operators/index.rst
  docs/bangc-docs/user_guide/images/tin_shift.png
Labels: BANGC, new op

#706 [Fix](bangc-ops): fix focal_loss_sigmoid_backward gamma range precheck
  bangc-ops/kernels/focal_loss_sigmoid/focal_loss_sigmoid.cpp
  bangc-ops/mlu_op.h
Labels: BANGC

#708 [Fix](bangc-ops): change param name gard_feats to grad_feats
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.cpp
  docs/bangc-docs/design_docs/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.md
Labels: BANGC

#702 [Fix](bangc-ops): change param name gard_feats to grad_feats
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.cpp
  docs/bangc-docs/design_docs/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.md
Labels: BANGC

#710 [TEST](bang-ops):add diff_iou_rotated_sort_vertices_forward api test
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/diff_iou_rotated_sort_vertices_forward/diff_iou_rotated_sort_vertices_forward_general.cpp
Labels: BANGC

#696 [Feature](bangc-ops): fix yolo_box doc
  bangc-ops/kernels/yolo_box/yolo_box.cpp
  bangc-ops/kernels/yolo_box/yolo_box_block.mlu
  docs/bangc-docs/design_docs/yolo_box/nram_boxes.png
  docs/bangc-docs/design_docs/yolo_box/nram_score.png
  docs/bangc-docs/design_docs/yolo_box/pingpong.png
  docs/bangc-docs/design_docs/yolo_box/res/bbox-2.png
  docs/bangc-docs/design_docs/yolo_box/res/bbox.png
  docs/bangc-docs/design_docs/yolo_box/res/c-data1.png
  docs/bangc-docs/design_docs/yolo_box/res/c-data2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula1.png
  docs/bangc-docs/design_docs/yolo_box/res/formula2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula3.png
  docs/bangc-docs/design_docs/yolo_box/res/formula4.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5-1.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5-2.png
  docs/bangc-docs/design_docs/yolo_box/res/formula5.png
  docs/bangc-docs/design_docs/yolo_box/res/formula6.png
  docs/bangc-docs/design_docs/yolo_box/res/nram_pingpong.png
  docs/bangc-docs/design_docs/yolo_box/res/score_pred.png
  docs/bangc-docs/design_docs/yolo_box/yolo_box.md
  docs/bangc-docs/design_docs/yolo_box/yolo_box_c_dims.png
  docs/bangc-docs/design_docs/yolo_box/yolo_box_cell.png
  docs/bangc-docs/design_docs/yolo_box/yolobox.png
Labels: BANGC

#701 [Feature](bangc-ops): box_iou_rotated support nan and inf.
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_aligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_nonaligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_utils.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/box_iou_rotated/box_iou_rotated.cpp
  docs/bangc-docs/design_docs/box_iou_rotated/box_iou_rotated.md
Labels: BANGC

#709 [TEST](bangc-ops): add focal_loss_sigmoid api test
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/focal_loss_sigmoid_backward/focal_loss_sigmoid_backward.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/focal_loss_sigmoid_backward/focal_loss_sigmoid_backward_general.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward.cpp
  bangc-ops/test/mlu_op_gtest/api_gtest/src/gtest/focal_loss_sigmoid_forward/focal_loss_sigmoid_forward_general.cpp
Labels: BANGC

#713 [Fix](bangc-ops): support grad_voxel_feats zero element & fix constra…
  bangc-ops/kernel_depends.toml
  bangc-ops/kernels/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.cpp
  bangc-ops/kernels/dynamic_point_to_voxel_backward/dynamic_point_to_voxel_backward.mlu
  bangc-ops/mlu_op.h
Labels: BANGC

#719 [Feature](bangc-ops): replace math.h by cmath
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/kl_test.cpp
Labels: BANGC

#725 [Fix](bangc-ops): Dynamic point to voxel fix mm leak
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/dynamic_point_to_voxel_forward/dynamic_point_to_voxel_forward.cpp
Labels: BANGC

#724 [Fix](bangc-ops): fix memory leak
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/dynamic_point_to_voxel_forward/dynamic_point_to_voxel_forward.cpp
Labels: BANGC

#726 [Feature](bangc-ops):add file name format check
  tools/check_file_name.py
  tools/pre-commit
Labels: BANGC

#730 [Feature](bangc-ops):prior_box support nan/inf.
  bangc-ops/kernels/prior_box/prior_box_block.mlu
Labels: BANGC, new feature

#677 [Feature](bangc-ops): Add border_align op
  bangc-ops/kernel_depends.toml
  bangc-ops/kernels/border_align_backward/border_align_backward.cpp
  bangc-ops/kernels/border_align_backward/border_align_backward.h
  bangc-ops/kernels/border_align_backward/border_align_backward_union1.mlu
  bangc-ops/kernels/border_align_forward/border_align_forward.cpp
  bangc-ops/kernels/border_align_forward/border_align_forward.h
  bangc-ops/kernels/border_align_forward/border_align_forward_union1.mlu
  bangc-ops/mlu_op.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_backward/border_align_backward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_backward/border_align_backward.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_backward/test_case/border_align_backward_1.prototxt
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_forward/border_align_forward.cpp
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_forward/border_align_forward.h
  bangc-ops/test/mlu_op_gtest/pb_gtest/src/zoo/border_align_forward/test_case/border_align_forward_0.prototxt
  docs/bangc-docs/design_docs/border_align_backward/border_align_backward.md
  docs/bangc-docs/design_docs/border_align_backward/figure1.png
  docs/bangc-docs/design_docs/border_align_forward/border_align_forward.md
  docs/bangc-docs/design_docs/border_align_forward/figure1.png
  docs/bangc-docs/design_docs/border_align_forward/figure2.png
  docs/bangc-docs/design_docs/border_align_forward/figure3.png
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC, new op

#732 [Feature](bangc-ops): Add concurrent build jobs
  bangc-ops/README.md
  bangc-ops/independent_build.sh
Labels: BANGC

#733 [Feature](bangc-ops): Add concurrent build jobs
  bangc-ops/README.md
  bangc-ops/independent_build.sh
Labels: BANGC

#736 [Fix](bangc-ops): fix add_n in uesr_guide
  docs/bangc-docs/user_guide/9_operators/index.rst
Labels: BANGC

#740 [Feature](bangc-ops): update FAQ in user guide
  docs/bangc-docs/user_guide/12_faq/index.rst
Labels: BANGC

#738 [Feature](bangc-ops):voxelization support nan/inf.
  bangc-ops/kernels/voxelization/voxelization.cpp
  bangc-ops/kernels/voxelization/voxelization_kernel.mlu
Labels: BANGC

#752 [Fix](bangc-ops): fix check_log_error space error.
  tools/check_log_error.py
Labels: BANGC

#751 [Feature](bangc-ops):voxelization support voxels largetensor.
  bangc-ops/kernel_depends.toml
  bangc-ops/kernels/voxelization/voxelization.cpp
Labels: BANGC

#755 [Fix](bangc-ops):voxelization zero tensor bug fix.
  bangc-ops/kernels/voxelization/voxelization.cpp
Labels: BANGC

#735 [Feature](bangc-ops):bbox_overlaps opt
  bangc-ops/kernels/bbox_overlaps/bbox_overlaps_union1.mlu
  docs/bangc-docs/design_docs/bbox_overlaps/bbox_overlaps.md
Labels: BANGC

#757 [Feature](bangc-ops): Add bang memcheck
  bangc-ops/CMakeLists.txt
  bangc-ops/independent_build.sh
  docs/GTest-User-Guide-zh.md
Labels: BANGC

#759 [Feature](bangc-ops):Correct the scale limitation
  bangc-ops/mlu_op.h
Labels: BANGC

#761 [Fix](bangc-ops):ms_deform_attn_backward memcheck warning fix.
  bangc-ops/kernels/ms_deform_attn_backward/ms_deform_attn_backward_small_channels_union1.mlu
Labels: BANGC

#760 [Fix](bangc-ops): fix device memory leak of box_iou_rotated.
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_aligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_nonaligned.h
  bangc-ops/kernels/box_iou_rotated/box_iou_rotated_utils.h
Labels: BANGC
